USE [master]
GO
/****** Object:  Database [CSMS.DB.Invoices]    Script Date: 7/18/2020 10:31:17 PM ******/
ALTER DATABASE [CSMS.DB.Invoices] SET COMPATIBILITY_LEVEL = 140
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSMS.DB.Invoices].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSMS.DB.Invoices]
GO
/****** Object:  Table [dbo].[CSMS_Order]    Script Date: 7/18/2020 10:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CSMS_Order](
	[Id] [varchar](50) NOT NULL,
	[UserId] [int] NOT NULL,
	[Fullname] [nvarchar](500) NOT NULL,
	[Receiver] [nvarchar](500) NOT NULL,
	[PhoneNumber] [varchar](50) NOT NULL,
	[Address] [nvarchar](2000) NOT NULL,
	[NoteToChef] [nvarchar](4000) NULL,
	[MerchandiseSubtotal] [decimal](18, 2) NOT NULL,
	[ShippingFee] [decimal](18, 2) NOT NULL,
	[ShippingService] [nvarchar](500) NOT NULL,
	[StoreId] [int] NOT NULL,
	[StoreCode] [varchar](50) NOT NULL,
	[StoreName] [nvarchar](500) NULL,
	[Distance] [decimal](6, 1) NOT NULL,
	[ShippingNote] [nvarchar](4000) NULL,
	[VoucherId] [int] NULL,
	[VoucherCode] [varchar](50) NULL,
	[DiscountPercent] [smallint] NULL,
	[UsedCoins] [int] NOT NULL,
	[DiscountShippingFee] [decimal](18, 2) NOT NULL,
	[DiscountVoucherApplied] [decimal](18, 2) NULL,
	[IsFreeShipVoucher] [bit] NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[EarnedCoins] [int] NOT NULL,
	[OrderedTime] [datetime] NOT NULL,
	[CookedTime] [datetime] NULL,
	[ShippedTime] [datetime] NULL,
	[CompletedTime] [datetime] NULL,
	[CanceledTime] [datetime] NULL,
 CONSTRAINT [PK_CSMS_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CSMS_OrderDetail]    Script Date: 7/18/2020 10:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CSMS_OrderDetail](
	[OrderId] [varchar](50) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[CategoryId] [int] NULL,
	[CategoryName] [nvarchar](200) NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[OriginalPrice] [decimal](10, 2) NULL,
	[PhotoId] [int] NOT NULL,
 CONSTRAINT [PK_CSMS_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CSMS_OrderDetail] ([OrderId], [ProductId], [ProductName], [CategoryId], [CategoryName], [Quantity], [Price], [OriginalPrice], [PhotoId]) VALUES (N'200504103448U116', 4, N'Hamburger', 26, N'Fast foods', 1, CAST(45000.00 AS Decimal(10, 2)), NULL, 0)
INSERT [dbo].[CSMS_OrderDetail] ([OrderId], [ProductId], [ProductName], [CategoryId], [CategoryName], [Quantity], [Price], [OriginalPrice], [PhotoId]) VALUES (N'200504103448U116', 6, N'Sandwich', 1, N'Appetizers', 4, CAST(39000.00 AS Decimal(10, 2)), NULL, 0)
INSERT [dbo].[CSMS_OrderDetail] ([OrderId], [ProductId], [ProductName], [CategoryId], [CategoryName], [Quantity], [Price], [OriginalPrice], [PhotoId]) VALUES (N'200504103935U116', 4, N'Hamburger', 26, N'Fast foods', 1, CAST(45000.00 AS Decimal(10, 2)), NULL, 0)
GO
ALTER TABLE [dbo].[CSMS_Order] ADD  CONSTRAINT [DF_CSMS_Order_UsedCoin]  DEFAULT ((0)) FOR [UsedCoins]
GO
ALTER TABLE [dbo].[CSMS_Order] ADD  CONSTRAINT [DF_CSMS_Order_DiscountShippingFee]  DEFAULT ((0)) FOR [DiscountShippingFee]
GO
ALTER TABLE [dbo].[CSMS_Order] ADD  CONSTRAINT [DF_CSMS_Order_IsFreeShipVoucher]  DEFAULT ((0)) FOR [IsFreeShipVoucher]
GO
ALTER TABLE [dbo].[CSMS_Order] ADD  CONSTRAINT [DF_CSMS_Order_EarnedCoin]  DEFAULT ((0)) FOR [EarnedCoins]
GO
ALTER TABLE [dbo].[CSMS_Order] ADD  CONSTRAINT [DF_Order_OrderTime]  DEFAULT (getdate()) FOR [OrderedTime]
GO
ALTER TABLE [dbo].[CSMS_OrderDetail] ADD  CONSTRAINT [DF_CSMS_OrderDetail_PhotoId]  DEFAULT ((0)) FOR [PhotoId]
GO
ALTER TABLE [dbo].[CSMS_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_CSMS_OrderDetail_CSMS_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[CSMS_Order] ([Id])
GO
ALTER TABLE [dbo].[CSMS_OrderDetail] CHECK CONSTRAINT [FK_CSMS_OrderDetail_CSMS_Order]
GO
USE [master]
GO
